.calculator {
     width: 80px;
     height: 80px;
     z-index:3;
     Display: flex;
     position: relative;
     right : -1400px;
     top: 500px;
     background-color: white;
     justify-content: flex-start;
     padding: 2px;
     color: black;
     transition: transform 0.3s ease, background-color 0.3s ease;
     border-radius: 10px
}


.calculator:hover {
     background-color: rgb(255, 255, 255);
     animation: lafanimation 1.5s ease-in-out infinite;
}

@keyframes lafanimation {
     0% {
          transform: translateY(0px);
     }

     50% {
          transform: translateY(-12px);

     }
     100%{
          transform:translateY(0px);
     }
}

.calc{
     object-fit:cover;
}

.is-active{
     width: 300px;
     height: 300px;
     z-index:4;
     Display: flex;
     position: absolute;
     cursor:move;
     left  : 500px;
     justify-content:center;
     top: 100px;
     background-color: white;
     justify-content: flex-start;
     padding: 2px;
     color: black;
     transition: transform 0.3s ease, background-color 0.3s ease;
     border-radius: 10px
     
}
     
.inputactive{
     background-color: red;
     z-index:5;
     padding:50px;
     width:100%;
     display:flex;
}
.inputbutton{
     display:none;
}
